{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WellCTF</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/profilecss.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'bootstrap/css/dashboard.css' %}" rel="stylesheet"/>
    {% block block_css %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
<!--for bootstrap working-->
<!-- navigation -->
<div class="row">
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top fixed-top" role="navigation"
             style="background-color: #3c43a4">
            <ul class="nav navbar-nav">
                <li><a href="/" {% if request.path == '/' %}
                       class="act" {% endif %}>首页</a></li>
                <li><a href="{% url 'contests' 1 %}" {% if request.path|slice:'21' == '/challenges/contests/' %}
                       class="act" {% endif %}>比赛</a></li>
                <li><a href="{% url "problems" 0 1 %}" {% if request.path|slice:'21' == '/challenges/problems/' %}
                       class="act" {% endif %}>题库</a></li>
                <li><a href="{% url 'teamIndex' %}" {% if request.path|slice:'16' == '/team/teamIndex/' %}
                       class="act" {% endif %}>队伍</a></li>
                {% if user.is_authenticated %}
                    <li class="float-lg-right"><a href="{% url 'logout' %}">退出</a></li>
                    <li class="float-lg-right"><a href="{% url 'profile' 1 1 %}"
                            {% if request.path|slice:'16' == '/account/profile' %} class="act" {% endif %}>
                            <span class="glyphicon glyphicon-user"
                                  aria-hidden="true"></span>个人信息</a></li>
                {% else %}
                    <li class="float-lg-right"><a href="{% url 'login' %}"
                            {% if request.path|slice:'14' == '/account/login' %} class="act" {% endif %}>登录</a>
                    </li>
                    <li class="float-lg-right"><a href="{% url 'register' %}"
                            {% if request.path|slice:'17' == '/account/register' %} class="act" {% endif %}>注册</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    {% block body_block %}
    {% endblock %}
</div>
<!-- //footbar -->
<div class="row" style="margin-top: 20px">
    <footer style="background-color: #f9f9f9">
        <div class="container" id="footer_content">
            <p class="text-center">
                <small>Copyright © 2018 - {{ time_now.year }}<br>
                    Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a
                            href="https://v3.bootcss.com/" target="_blank">Bootstrap</a></small>
            </p>
        </div>
    </footer>
</div>
</body>
</html>