{% extends 'base.html' %}
{% block body_block %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1 col-xs-12 main">
                <h3 class="page-header" style="color: #FF4C2E">比赛</h3>
                <div class="col-lg-7">
                    <div class="container-scroller">
                        <div class="container-fluid page-body-wrapper">
                            <div class="row">
                                <div class="col-lg-12 grid-margin">
                                    <div class="card">
                                        <div class="card-body">
                                            <h2 class="card-title">排名</h2>
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>比赛名称</th>
                                                        <th>组织者</th>
                                                        <th>类型</th>
                                                        <th>开始时间</th>
                                                        <th>结束时间</th>
                                                        <th>状态</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for contest in contests %}
                                                        <tr class=".list-inline">
                                                            <td>
                                                                <a href="{% url 'contest_detail' contest.id %}">{{ contest.name }}</a>
                                                            </td>
                                                            <td>{{ contest.creator }}</td>
                                                            <td>{% if contest.isTeam %}团体赛{% else %}
                                                                个人赛{% endif %}</td>
                                                            <td>{{ contest.datetime_begin |date:"Y-m-d H:i" }}</td>
                                                            <td>{{ contest.datetime_end |date:"Y-m-d H:i" }}</td>
                                                            <td>
                                                                {% if contest.datetime_end|date:"Y-m-d H:i:s" <= time_now|date:"Y-m-d H:i:s" %}
                                                                    <span class="label label-danger">已结束</span>
                                                                {% elif contest.datetime_begin|date:"Y-m-d H:i:s" >= time_now|date:"Y-m-d H:i:s" %}
                                                                    <span class="label label-primary">未开始</span>
                                                                {% else %}
                                                                    <span class="label label-success">进行中</span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <nav>
                                                <ul class="pagination rounded-separated pagination-info mt-3">
                                                    <li class="page-item">
                                                        {% if previous > 0 %}
                                                            <a href="{% url "contests" previous %}"
                                                               class="page-link"
                                                               aria-label="Previous"><span
                                                                    aria-hidden="true">&laquo;</span></a>
                                                        {% else %}
                                                            <span><span aria-hidden="true">&laquo;</span></span>
                                                        {% endif %}
                                                    </li>
                                                    {% for i in contest_range %}
                                                        <li {% if i == page %} class="active page-item" {% endif %}><a
                                                                href="{% url "contests" i %}"
                                                                class="page-link">{{ i }}</a></li>
                                                    {% endfor %}
                                                    <li class="page-item">
                                                        {% if next <= contest_pages %}
                                                            <a href="{% url "contests" next %}" class="page-link"
                                                               aria-label="Precious"><span
                                                                    aria-hidden="true">&raquo;</span></a>
                                                        {% else %}
                                                            <span><span aria-hidden="true">&raquo;</span></span>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ROW ENDS -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 card">
                    <div class="card-body">
                        <h2 class="card-title"><span class="glyphicon glyphicon-menu-hamburger"
                                                     aria-hidden="true"></span> 全站Rank</h2>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover mb-lg-5">
                                <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>昵称</th>
                                    <th>积分</th>
                                    <th>学院</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for usr in top_ten %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ usr.person.first_name }}</td>
                                        <td>{{ usr.score }}</td>
                                        <td>{{ usr.institute }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}