{% extends 'profile_base.html' %}
{% load staticfiles %}
{% block body_overlook %}
    {% if has_error %}
        <div class="alert alert-danger" role="alert">{{ error_content }}</div>
    {% else %}
        <div class="row col-lg-offset-0">
            <div class="col-md-8">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'images/logo.jpg' %}" class="img-lg rounded-circle mb-2"/>
                        <h4>{{ person.person.first_name }}</h4>
                        <p class="text-muted">{{ person.institute }}</p>
                        <div class="border-top pt-3">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h6>{{ person.score }}</h6>
                                    <p>分数</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6>{{ user_rank }}</h6>
                                    <p>个人排名</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6>{{ person.gender }}</h6>
                                    <p>性别</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'images/logo.jpg' %}" class="img-lg rounded-circle mb-2"/>
                        <h4>{{ team_name }}</h4>
                        <p class="text-muted">{{ team_email }}</p>
                        <div class="border-top pt-3">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h6>{{ team_id }}</h6>
                                    <p>队伍ID</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6>{{ team_rank }}</h6>
                                    <p>队伍排名</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6>{{ team_score }}</h6>
                                    <p>队伍总分</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-offset-0" style="margin-top: 20px">
            <div class="container-fluid page-body-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">今日得分</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-flex">
                                            <h2 class="mb-0">3400</h2>
                                            <div class="d-flex align-items-center ml-2">
                                                <i class="mdi mdi-clock text-muted"></i>
                                                <small class=" ml-1 mb-0">Updated: 9:10am</small>
                                            </div>
                                        </div>
                                        <small class="text-gray">你夺得Flag几次了？</small>
                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-success px-4 py-2 rounded">
                                            <i class="mdi mdi-buffer text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">提交记录</h2>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>题号</th>
                                            <th>题目</th>
                                            <th>类型</th>
                                            <th>分值</th>
                                            <th>完成时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for s in solveds %}
                                            <tr>
                                                <td>{{ s.problem.id }}</td>
                                                <td>{{ s.problem.name }}</td>
                                                {% for i in kind %}
{#                                                    <td>{{ forloop.counter }}</td>#}
                                                    {% if s.problem.type == forloop.counter %}
                                                        <td>{{ i }}</td>
                                                    {% endif %}
                                                {% endfor%}
                                                <td>{{ s.problem.bill }}</td>
                                                <td>{{ s.datetime_done |date:"Y-m-d H:i" }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <nav>
                                    <ul class="pagination rounded-separated pagination-info mt-3">
                                        <li class="page-item">
                                            {% if solved_previous > 0 %}
                                                <a href="{% url "profile" solved_previous current_contest_page %}"
                                                   class="page-link"
                                                   aria-label="Previous"><span
                                                        aria-hidden="true">&laquo;</span></a>
                                            {% else %}
                                                <span><span aria-hidden="true">&laquo;</span></span>
                                            {% endif %}
                                        </li>
                                        {% for i in solved_range %}
                                            <li {% if i == current_solved_page %} class="active page-item" {% endif %}>
                                                <a
                                                        href="{% url "profile" i current_contest_page %}"
                                                        class="page-link">{{ i }}</a></li>
                                        {% endfor %}
                                        <li class="page-item">
                                            {% if solved_next <= solved_pages %}
                                                <a href="{% url "profile" solved_next current_contest_page %}"
                                                   class="page-link"
                                                   aria-label="Precious"><span
                                                        aria-hidden="true">&raquo;</span></a>
                                            {% else %}
                                                <span><span aria-hidden="true">&raquo;</span></span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">比赛战绩</h2>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>比赛名称</th>
                                            <th>类型</th>
                                            <th>开始时间</th>
                                            <th>得分</th>
                                            <th>排名</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for c in contests %}
                                            <tr>
                                                <td>{{ c.contest.name }}</td>
                                                {% if  c.contest.isTeam %}
                                                    <td>团体赛</td>
                                                {% else %}
                                                    <td>个人赛</td>
                                                {% endif %}
                                                <td>{{ c.contest.datetime_begin |date:"Y-m-d H:i" }}</td>
                                                <td>{{ c.score }}</td>
                                                <td>{{ c.rank }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <nav>
                                    <ul class="pagination rounded-separated pagination-info mt-3">
                                        <li class="page-item">
                                            {% if contest_previous > 0 %}
                                                <a href="{% url "profile" current_solved_page contest_previous %}"
                                                   class="page-link"
                                                   aria-label="Previous"><span
                                                        aria-hidden="true">&laquo;</span></a>
                                            {% else %}
                                                <span><span aria-hidden="true">&laquo;</span></span>
                                            {% endif %}
                                        </li>
                                        {% for i in contest_range %}
                                            <li {% if i == current_contest_page %} class="active page-item" {% endif %}>
                                                <a
                                                        href="{% url "profile" current_solved_page i %}"
                                                        class="page-link">{{ i }}</a></li>
                                        {% endfor %}
                                        <li class="page-item">
                                            {% if contest_next <= contest_pages %}
                                                <a href="{% url "profile" current_solved_page contest_next %}"
                                                   class="page-link"
                                                   aria-label="Precious"><span
                                                        aria-hidden="true">&raquo;</span></a>
                                            {% else %}
                                                <span><span aria-hidden="true">&raquo;</span></span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ROW ENDS -->
            </div>
        </div>
    {% endif %}

{% endblock %}