{% extends 'contest_base.html' %}

{% block contest_detail %}

    <div>
        {% if end|date:"Y-m-d H:i:s" >= time_now|date:"Y-m-d H:i:s" and begin|date:"Y-m-d H:i:s" <= time_now|date:"Y-m-d H:i:s" %}
            {% for problem in problems %}
                <!-- 按钮触发模态框 -->
                <div class="col-lg-4" style="margin-top: 20px">
                    <button class="btn btn-primary  btn-sm btn-block" data-toggle="modal"
                            data-target="#{{ problem.id }}">
                        <p class="problemText">{{ problem.name }}</p>
                        <p class="problemText">{{ problem.detail }}</p>
                        <p>{{ problem.bill }} pt</p>
                    </button>
                </div>
                <div class="modal fade" id="{{ problem.id }}" role="dialog" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close closeIT" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ problem.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <p><b>问题详情： </b></p>
                                <p>{{ problem.detail }}</p>
                                {% if problem.file %}
                                    <p><b>文件:</b> <a href="{{ MEDIA_URL }}{{ problem.file }}">下载</a></p>
                                {% endif %}
                                <p><b>分值：</b>{{ problem.bill }}pt</p>
                                <p><b>作者： </b>{{ problem.author }}</p>
                                <form method="POST" action="{% url 'flagPost' %}" enctype="multipart/form-data"
                                      id="{{ problem.id }}_form">
                                    {% csrf_token %}
                                    <input type="hidden" name="problem_id" value="{{ problem.id }}">
                                    <input type="hidden" name="contest_id" value="{{ contest_id }}">
                                    <input type="text" name="flag" class="input_flag"
                                           placeholder="格式：flag:{This is a flag.}">
                                    <button id="form_button" type="submit" name="submit" class="input_flag_button">
                                        提交
                                    </button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default closeIT" data-dismiss="modal">关闭
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#{{ problem.id }}_form").submit(function (event) {
                            $.ajax({
                                type: "POST",
                                url: "{% url 'flagPost' %}",
                                data: $(this).serialize(),
                                success: function (status) {
                                    var ans, response;
                                    switch (status) {
                                        case '0':
                                            response = "<p id='ans' style='color: red; margin-top: 10px;'>答案错误</p>";
                                            ans = "答案错误";
                                            break;
                                        case '1':
                                            response = "<p id='ans' style='color: green; margin-top: 10px;'>答案正确</p>";
                                            ans = "答案正确";
                                            break;
                                        case '2':
                                            response = "<p id='ans' style='color: red; margin-top: 10px;'>请输入答案</p>";
                                            ans = "请输入答案";
                                            break;
                                    }
                                    alert('提交成功!' + ans);
                                    $("#ans").remove();
                                    $("#{{ problem.id }}_form").append(response)
                                }
                            });
                            event.preventDefault();
                        });
                    });
                </script>
            {% endfor %}
        {% endif %}
    </div>
    <style type="text/css">
        .input_flag_button {
            height: 40px;
            width: 100px;
            color: #222;
            background-color: #fff;
            border: 2px solid #444;
            display: inline-block;
            font-size: 16px;
            text-decoration: none;
            transition: 0.5s;
            /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
            margin-left: 5px;
            float: right;
        }

        .input_flag {
            width: 80%;
            padding: 10px;
            background-color: #eee;
            border: 0;
            border-radius: 5px;
        }

        .problemText {
            table-layout: fixed;
            word-break: keep-all; /* 不换行 */
            white-space: nowrap; /* 不换行 */
            overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}