{% extends 'base.html' %}

{% block body_block %}
    <div class="container-fluid">
        {% block slider_block %}
        {% endblock %}
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1 col-xs-12 main">
                {% block header_block %}
                {% endblock %}
                {% block body_challenges %}
                {% endblock %}
                {% block rank_block %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}